<form [formGroup]="editFormHotel">
  <div class="hotel-container">
    <h6>Actualizar Hotel</h6>

    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Direccion" formControlName="address" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Correo" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="telefono" formControlName="phone" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Celular" formControlName="cellPhone" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="nit" formControlName="nit" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="altitude" formControlName="altitude" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="latitud" formControlName="latitude" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="checkIn" formControlName="checkIn" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="checkOut" formControlName="checkOut" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="taxPercentage" formControlName="taxPercentage" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="timeReservation" formControlName="timeReservation" />
    </mat-form-field>
    <p></p>

    <div>
      <table>
        <tbody>
          <tr>
            <td>Redes Sociales:</td>
            <td>
              <mat-icon (click)="addRed()" matTooltip="Adicionar Red Sociales">note_add</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngFor="let red of redes.controls; index as i">
      <table>
        <tbody>
          <tr>
            <td><input matInput [formControl]="redes.controls[i]" /></td>
            <td><mat-icon (click)="removeRed(i)">delete</mat-icon></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <p></p>
      <button mat-raised-button color="primary" (click)="edit()">Actualizar</button>
      <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
    </div>
  </div>
</form>
